/*
Color Used
Primary Color: hex(#FDF0D5), hex(#17BEBB), hex(#F87575)
Secondary Color: rgba(23, 190, 187, 0,4), rgba(253, 240, 213, 0,5)
Font Color: hex(#707070) */

/*
Fonts Used
Headings: Karla Regular & Bold
Paragraphs: Lato Regular & Bold
*/

body{
  font-family: 'Lato', san-serif;
  font-size: 16px;
  font-weight:400;
  line-height: 1.5;
  color: #707070;}

h1, h2, h3, h4 {
  line-height: 1.2
}

h1{
  font-family: 'Karla', san-serif;
  font-size: 2.5em;
  font-weight: 800
}

h2{
  font-family: 'Karla', san-serif;
  font-size: 2.5em;
  font-weight: 600;
}

h3{
  font-family: 'Karla', san-serif;
  font-size: 1.5em;
  font-weight: 600;
}

h4{
  font-family: 'Karla', san-serif;
  font-size: 1.5em;
  font-weight: 400;
}

h5{
  font-family: 'Karla', san-serif;
  font-size: 2em;
  font-weight: 400;
}

h6{
  font-family: 'Karla', san-serif;
  font-weight: 600;
}
