/*
Color Used
Primary Color: yello - hex(#FDF0D5), blue - hex(#17BEBB), pink - hex(#F87575)
Secondary Color: blue - rgba(23, 190, 187, 0.4), yellow - rgba(253, 240, 213, 0.5)
Font Color: hex(#707070) */

/*
Fonts Used
Headings: Karla Regular & Bold (weight: 400, 600, 800)
Paragraphs: Lato Regular & Bold (weight: 400,700)
*/

/*General Styling*/
body{
  font-family: 'Lato', san-serif;
  font-size: 16px;
  font-weight:400;
  line-height: 1.5;
  color: #707070;}

  html {
    scroll-behavior: smooth;
  }

/*Typography*/
h2, h3, h4 {
  line-height: 1.2;
}

h1 {
  line-height: 1.2;
}

h5{
  line-height: 1.5;
}

h1{
  font-family: 'Karla', san-serif;
  font-size: 2em;
  font-weight: 600;
  padding-top: 80px;
}

h2{
  font-family: 'Karla', san-serif;
  font-size: 2em;
  font-weight: 600;
  padding-top: 130px;
}

h3{
  font-family: 'Karla', san-serif;
  font-size: 1.5em;
  font-weight: 600;
}

h4{
  font-family: 'Karla', san-serif;
  font-size: 1.2em;
  font-weight: 400;
  margin-top: 0;
}

h5{
  font-family: 'Karla', san-serif;
  font-size: 1.2em;
  font-weight: 800;
  text-align: center;
  clear: both;
  margin-top: 0;
}

h6{
  font-family: 'Karla', san-serif;
  font-size: 1em;
  font-weight: 600;
  margin: 0;
}

.footnote{
  font-size: 0.8em;
}

a{
  color: #17BEBB;
  text-decoration: none;
}

a:hover, a:focus{
  color: #F87575;
  text-decoration: underline;
}

a:active{
  color: #707070;
  text-decoration: underline;
}

/*Componant Styling*/

main{
  padding-top: 15px;
}

nav {
  padding: 15px 0 0;
  display: inline-block;
  width: 100%;
}

nav ul {
  list-style-type: none;
  padding-left: 0;
  clear: both;
  margin: auto;
}




.navtoggle li:not(:last-child) {
  display: none;
}/*to delete*/


nav .hamburger {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 20px;
  margin-top: 5px;
}/*to delete*/


.navtoggle.responsive li {
  display: block;
  padding: 10px 0;
  border-top: 1px solid rgba(23, 190, 187, 0.4);
}/*to delete*/


nav img {
  width: 50px;
  height: 50px;
  float: left;
  margin-bottom: 5px;
}/*to delete*/

nav ul li a{
  color: #707070;
  padding: 0 15px;
  text-transform: uppercase;
  font-weight:400;
  display: block;
  text-align: center;
}

nav ul li a:hover, a:focus {
  font-weight: 600;
  color: #17BEBB;
  text-decoration: none;
}

nav ul li a:active {
  font-weight: 600;
  text-decoration: underline;
  color: rgba(23, 190, 187, 0.4);
}


header{
  /*text-align: center;*/
  background-color: #FDF0D5;
  position: fixed;
  box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.20);
  display: inline-block;
  width: 100%;
  z-index: 2;
}

footer{
  clear: both;
  text-align: center;
  background-color: #FDF0D5;
}

.container{
  padding: 0 15px; /*add padding on left & right for each content block*/
}

.footer{
  background-color: #FDF0D5;
}

.footer h2{
  display: inline-block;
  width: 100%;
  padding-top: 0px;
}

.copyright{
  padding: 10px;
  margin-bottom: 0px;
}


/*Global Styling*/
* {
  box-sizing: border-box; /*makes sure border and padding are included in width so entire width does not overflow*/
}

img{
  width:100%;
}

ul{
  padding-left: 20px;
  overflow: hidden;
}

.container-iframe{
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio*/
  z-index:-1;
}

.container-iframem {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 217%; /* 8:16 Aspect Ratio*/
  z-index:1;
}

.responsive-iframe{
  position: absolute;
  top: 0;
  left:0;
  bottom:0;
  right:0;
  width:100%;
  height: 100%;
  border: 0;
}

.button{
  display:inline-block;
  background-color: #17BEBB;
  color: #ffffff;
  font-family: 'Karla', san-serif;
  font-weight: 600;
  padding: 8px;
  border-radius: 10px;
  border-bottom: 2px solid #0B6765;
  transition: 0.2s opacity;
}


.button:hover, .button:focus{
  display:inline-block;
  background-color: #52CECC;
  color: #ffffff;
}

.button:active{
  display:inline-block;
  background-color: #17BEBB;
  color: #ffffff;
  font-family: 'Karla', san-serif;
  font-weight: 600;
  padding: 10px;
  border-bottom: 0px;
  text-decoration: none;
}


.row{
  margin: 25px 0; /*add margins between content blocks*/
}

.index {
  position: sticky;
  bottom: 30px;
  overflow: hidden;
  z-index: 1;
  padding-bottom: 15px;
}

.index .button {
  float: right;
}



/*Page Specific Styling*/


#home_hero h1 {
  padding-top: 100px;
  margin: 0;
}

#home_hero h2 {
  margin-bottom: 0;
}


.illustration {
  display: flex;
  align-items: flex-end;
}

#uxui_projects .row{
  padding-bottom:25px; border-bottom:1px  solid #707070;
}

#home_hero{
  /*text-align: center;*/
  /*background-color: #FDF0D5;*/
  padding: 15px 0;
  display: inline-block;
  width: 100%;
}

#hero_button {
  text-align: center;
  padding-top: 40px;
}

#about_hero {
  padding: 15px 0;
  display: inline-block;
  width: 100%;
}

#about_selfportrait img {
  width: 80%;
  display: block;
  margin: auto;
  padding: 15px;
}

#resume {
  text-align: center;
}

#my_story h2{
  padding-top:0px;
}

#skills_tools h2{
  padding-top:0px;
}

.project_hero {
  display: block;
  width: 100%;
  padding: 15px 0;
}


.hero_image img{
  width: 90%;
  display: block;
  margin: auto;
}


.project_logo img{
    width: 50%;
    margin: auto;
    display: block;
    padding: 10px;
}

.project_logo h3{
  clear: both;
  text-align: center;
}

.row::after{
  content:"";
  clear: both;
  display: block;
}

.project_process {
  text-align: center;
  padding: 20px 0;
  background-color: rgba(23, 190, 187, 0.7);
  color: #FFFFFF;
}

.project_process h3 {
  margin: 0 0 10px 0;
}

.project_process img {
  width: 40px;
  padding: 2px;
}

.project_process ol li {
  display: inline-block;
}

.project_process ol {
  margin-bottom: 0;
  list-style-type: none;
  padding-left: 0;
}

.project-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.flex-container {
  display:flex;
  flex-direction: column-reverse;
}

.section {
  padding-top: 120px;
}

.project_hero {
  background-image: url("../img/ux_cs_pg/background/backgroundd@2x.png");
  background-repeat: no-repeat;
}

.main_content h3 {
  padding-top: 5px;
  border-top: 2px solid rgba(23, 190, 187, 0.4)
}

.main_content h3 span {
  font-size: 2em;
  color: rgba(23, 190, 187, 0.4);
}



  .process_circle {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background-color: #FFFFFF;
    box-shadow: 0px 5px 5px 0px rgba(50, 50, 50, 0.20);
    margin: auto;
    margin: 5px;
  }

  .process_circle a {
      color: #707070;
      font-size: 0.6em;
      font-weight: 600;
      margin: auto;
    }


    .process_circle_style {
      display: flex;
      align-items: center;
    }


    .process_circle:hover, .process_circle:focus {
      background-color: #F8F8F8;
      box-shadow: 0px 0px 0px 0px;
    }

#cr_problem h5 {
  margin-bottom: 0;
}

#cr_final {
  background-image: url("../img/ux_cs_pg/background/cr_locationbg@2x.png");
}

#cr_quadrant ul {
  padding-left: 0;
  list-style-type: none;
}

#cr_quadrant ul img {
  width: 30px;
  height: 27px;
  padding: 0 5px 0 0 ;
  float: left;
}

#cr_quadrant ul div {
  width: 90%;
  float: right;
}

#cr_quadrant ul li {
  width: 100%;
}


#cr_uf_legend img {
    margin-top: 50px;
    margin: auto;
    width: 80%;
    display: block;
  }

#cr_card_sorting ul {
    padding-left: 0;
    list-style-type: none;
  }

#cr_card_sorting ul img {
    width: 30px;
    height: 27px;
    padding: 0 5px 0 0 ;
    float: left;
  }

#cr_card_sorting ul div {
    width: 90%;
    float: right;
  }


#cr_card_sorting ul li {
    width: 100%;
  }

#cr_wireframe h4 {
  margin-top: 25.536px;
}

#cr_ia h5{
  margin-top: 15px;
}


.piechart {
    width: 60%;
    margin: auto;
  }

  #cr_recommended_routes img {
    width: 67%;
    margin: auto;
    display: block;
  }

  #cr_bookmarks img {
    width: 67%;
    margin: auto;
    display: block;
  }

  #cr_summary_dashboard img {
    width: 33%;
    display: block;
    margin: auto;
  }

  #cr_audio img {
    width: 67%;
    margin: auto;
    display: block;
  }

  #cr_next li {
    padding-bottom:15px;
  }

  #rh_uf_legend img{
    display: block;
    margin: 10px auto 0;
    width: 30%;
  }

  #rh_wireframe img {
    width:80%;
    display: block;
    margin: auto;
  }

  #rh_prototype img {
    width:80%;
    display: block;
    margin: auto;
  }

  #rh_recipe_prototype img {
    width: 80%;
    display: block;
    margin: auto;
  }

  #project_rebelharvest #recipe_prototype img {
    width: 80%;
    display: block;
    margin: auto;
  }

  .project_buttons {
    text-align: center;
  }

  .next_project {
    margin-bottom: 15px;
  }

  .previous_project {
    margin-bottom: 15px;
  }

#rh_circle1{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background: #F3F3F3;
    box-shadow: 0px 5px 5px 0px rgba(50, 50, 50, 0.20);
    margin: auto;
  }

  #rh_circle2{
      border-radius: 50%;
      width: 50px;
      height: 50px;
      background: #FEC481;
      box-shadow: 0px 5px 5px 0px rgba(50, 50, 50, 0.20);
      margin: auto;
    }

  #rh_circle3{
      border-radius: 50%;
      width: 50px;
      height: 50px;
      background: #A8CA91;
      box-shadow: 0px 5px 5px 0px rgba(50, 50, 50, 0.20);
      margin: auto;
    }

  #rh_circle4{
      border-radius: 50%;
      width: 50px;
      height: 50px;
      background: #264653;
      box-shadow: 0px 5px 5px 0px rgba(50, 50, 50, 0.20);
      margin: auto;
    }

  #rh_circle5{
      border-radius: 50%;
      width: 50px;
      height: 50px;
      background: #FFBD12;
      box-shadow: 0px 5px 5px 0px rgba(50, 50, 50, 0.20);
      margin: auto;
    }

  #rh_circle6{
      border-radius: 50%;
      width: 50px;
      height: 50px;
      background: #F3722C;
      box-shadow: 0px 5px 5px 0px rgba(50, 50, 50, 0.20);
      margin: auto;
    }


  #rh_circle7{
      border-radius: 50%;
      width: 50px;
      height: 50px;
      background: linear-gradient(to bottom right, #FEC481, #A8CA91);
      box-shadow: 0px 5px 5px 0px rgba(50, 50, 50, 0.20);
      margin: auto;
    }


  #rh_ui ul {
    list-style-type: none;
  }

  #rh_final iframe {
    border-radius:20px;
    display: block;
    margin: auto;
    width:200px;
    height:450px;
  }

  #rh_final .indent {
    display: block;
    margin: auto;
  }

  .list_inline {
    display: inline-block;
    padding: 0 5px;
    text-align: center;
  }

  .list_inline p {
  font-size: 0.75em;
  }

  .grid_illustration{
    display: grid;
    grid-template-columns: auto auto auto;
  }

  #rh_illustrations {
    clear: both;
  }
  #rh_illustrations img {
  width: 50%;
  display: block;
  margin: auto;
  }

  #rh_onboarding img{
    width: 80%;
    display: block;
    margin: auto;
  }

  #rh_fonts img{
    width: 60%;
    display: block;
    margin: auto;
  }

  #rh_stats img{
    width: 80%;
    display: block;
    margin: auto;
  }

  #rh_orderbtn img{
    width: 80%;
    display: block;
    margin: auto;
  }

#rh_preference_test img{
  width: 80%;
  display: block;
  margin: auto;
}

#rh_preference_test ul{
  margin-bottom: 40px;
}

#rh_final {
  clear: both;
}

#rh_next li {
  padding: 10px 0;
}




/*Media Queries*/

/*================================
S to M Devices (521px and larger)
==================================
*/

@media only screen and (min-width: 520px){
  .project_process img {
    width: 60px;
    padding: 4px;
  }
}






/*================================
Medium Devices (640px and larger)
==================================
*/

@media only screen and (min-width: 640px){

  .navtoggle li:last-child {
  display: none;
  }/*to delete*/

  .navtoggle li:not(:last-child) {
  display: inline-block;
  }/*to delete*/

  .navtoggle.responsive{
    clear: none;
  }

  .navtoggle.responsive li {
    border-top: 0;
    padding-top: 0;
  }

  nav {
    padding: 0;
  }

  nav ul{
    clear: none;
    padding-top: 25px;
    width: auto;
    float: right;
  }

  nav img {
    margin-top: 10px;
    width: 80px;
  }/*to delete*/

  header{
    text-align: unset;
  }

  .hero_image img {
    width: 100%
  }

  nav ul li {
    padding-bottom: 10px;
  }



  .active {
    border-bottom: 5px solid #17BEBB;
  }

  .active a {
    font-weight: 800;
    color: #17BEBB;
  }


  main{
    padding-top: 0px;
    background: #FCFCFC;
  }


  h2{
    padding-top: 100px;
  }

  .indent {
    padding: 10px;
  }

  .flex-container {
    display:flex;
    flex-direction: row;
  }

  .grid-container{
    display: grid;
    grid-template-columns: auto auto;
  }

  .art_flex {
    display: flex;
    flex-direction: row;
  }

  .col-md-50{
    width:50%;
  }

  .col-md-60{
    width:60%;
  }

  .col-md-40{
    width:40%;
  }

  .col-md-33{
    width:33.3%;
  }

  .col-md-67{
    width:66.7%;
  }

  .col-md-25{
    width:25%;
  }

  .col-md-17{
    width:16.7%;
  }

  .col-md-80{
    width:80%;
  }

  .col-md-20{
    width:20%;
  }

  .col-md-full{
    width:100%
  }

  [class*="col-"]{
    float: left;
    padding: 10px;
  }


  [id*="home_project"] h3{
    margin-top: 0px;
  }

  .section {
    padding-top: 80px;
  }

  .process_circle {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    background-color: #FFFFFF;
    box-shadow: 0px 5px 5px 0px rgba(50, 50, 50, 0.20);
    margin: auto;
    margin: 5px;
  }

  .process_circle a {
      color: #707070;
      font-size: 0.8em;
      font-weight: 600;
      margin: auto;
    }

  #about_selfportrait img {
    width: 60%;
  }



  #cr_problem_p {
    clear: both;
    margin-top: 0px;
  }

  #cr_img_competitors {
    width: 80%;
    margin: auto;
    }

  #cr_uf_legend img {
      display: block;
      margin: auto;
      width: 60%;
    }

  #cr_userflow1 {
    float: right;
  }

  #cr_affinitymap {
    margin-top:23px;
  }


  #cr_card_sorting img{
    width: 50%;
    margin: auto;
    display: block;
  }


  #cr_recommended_routes img {
    width: 100%;
  }

  #cr_bookmarks img {
    width: 100%;
  }

  #cr_summary_dashboard img {
    width: 100%;
  }

  #cr_audio img {
    width: 100%;
  }

  #cr_summary_dashboard {
    margin: auto;
  }

  #cr_testplan {
    width: 60%;
    display: block;
    margin: auto;
  }

  #iteration_audio img {
    width: 90%;
    padding-top: 10px;
    display: block;
    margin: auto;
  }

  .more_iteration img {
    width: 70%;
  }

  #cr_testing .iteration_img img {
    width: 70%;
    padding-top: 10px;
    display: block;
    margin: auto;
  }



  #cr_problem h5 {
    margin-top: 16px;
  }

  #rh_problem h5 {
    margin-top:50px;
  }

  #rh_final iframe {
    width:380px;
    height:800px;
  }

  #rh_affinitymap {
    margin-top:50px;
  }

  .container-iframem {
    padding-top: 60%;
  }

  .project_process img {
    width: 80px;
    padding: 4px;
  }

  #rh_uf_legend img{
    width: 100%;
  }

  #rh_wireframe img {
    width:100%;
    }

  #rh_prototype img {
    width:100%;
  }

  #rh_recipe_prototype img {
    width: 70%;
    display: block;
    margin: auto;
  }

  .list_inline p {
  font-size: 1em;
  }

  .grid_illustration{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
  }

  #rh_onboarding img{
    width: 70%;
  }

  #rh_preference_test img{
    width: 70%;
  }

  .center_vert {
    display: flex;
    align-items: center;
  }


}


/*================================
Large Devices (1024px and larger)
==================================
*/

@media only screen and (min-width: 1024px){
  .container{
    max-width: 1024px;
    margin: auto;
  }

  .grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
  }

  .col-lg-60{
    width:60%;
  }

  .col-lg-40{
    width:40%;
  }

  .col-lg-50{
    width:50%;
  }

  .col-lg-full{
    width:100%;
  }

  h1{
    padding-top: 80px;
  }

  #cr_img_competitors img {
    width: 60%;
    margin: auto;
    display: block;
    }

  .project_process img {
      width: 100px;
      padding: 5px;
    }


}


/*animations*/
.etop {
  animation-name: appear;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;

}

.arrow{
  animation-name: tail_movement;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.tail1{
  animation-name: tail_movement;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.tail2{
  animation-name: tail_movement;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}


.horn1{
  animation-name: horns_movement;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.horn2{
  animation-name: horns_movement;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.ae{
  animation-name: appear;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.y{
  animation-name: appear;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.h1{
  animation-name: appear;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.h2{
  animation-name: appear;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.two_e{
  animation-name: appear;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.h2{
  animation-name: appear;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.k{
  animation-name: appear;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}


.wing{
  animation-name: wing_movement;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.halo{
  animation-name: halo_movement;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}


@keyframes halo_movement {
  0% {fill: #F8D40D; opacity:0;}
  50% {fill: #F8D40D; opacity:0.5;}
  70% {fill: #F8D40D; opacity:0.9}
  80% {fill: black; opacity: 1;}
}

@keyframes wing_movement {
  0% {fill: #7E7F9A; transform: skew(30deg,20deg); opacity:0;}
  50% {fill: #7E7F9A; transform: skew(10deg,20deg); opacity: 0.5;}
  70% {fill: #7E7F9A; transform: skew(30deg,10deg); opacity: 0.9;}
  80% {fill: black; transform: skew(0deg,0deg); opacity:1;}
}

@keyframes horns_movement{
  0% {fill: red; opacity:0;}
  50% {fill: red; opacity:0.5;}
  70% {fill: red; opacity:0.9}
  80% {fill: black; opacity: 1;}
}

@keyframes tail_movement{
  0% {fill: red; transform: skew(0deg,2deg); opacity:0;}
  50% {fill: red; opacity: 0.5; transform: skew(2deg,1deg);}
  70% {fill: red; opacity: 0.9; transform:skew(1deg,2deg);}
  80% {fill: black; transform: skew(0deg); opacity:1;}
}

@keyframes appear{
  0% {opacity:0;}
  80% {opacity:0;}
  100% {fill: black; opacity: 1;}
}
